:root {
	--white: #fff;
	--white-ff-dim08: #ffffff14;
	--white-ff-dim12: #ffffff1f;
	--white-ff-dim45: #ffffff73;
	--white-ff-dim50: #ffffff80;
	--white-ff-dim65: #ffffffa6;
	--white-ff-dim85: #ffffffd9;
	--white-ee: #eee;
	--white-c9: #c9c9c9;
	--red: #FD3E36;
	--red-6d: #6d0b01;
	--red-6b: #690c024d;
	--green: #3FC662;
	--green-3e: #3eb100;
	--green-21: #215d00;
	--green-2d: #2d79024d;
  --yellow: #D5B880;
	--blue: #096DD9;
	--black: #000;
	--black-17: #17181a;
	--black-1f: #1f2022;
	--black-12: #121212;
  --black-26: #26272b;
  --black-2a: #2A2B2D;
	--black-33: #333;
	--black-7f: #7f7f7f;
	--black-99: #999;
}
