:root {
	--white: #fff;
	--white-ff-dim08: #ffffff14;
	--white-ff-dim12: #ffffff1f;
	--white-ff-dim45: #ffffff73;
	--white-ff-dim50: #ffffff80;
	--white-ff-dim65: #ffffffa6;
	--white-ff-dim85: #ffffffd9;
	--white-ee: #eee;
	--white-c9: #c9c9c9;
	--red: #FD3E36;
	--red-c3: #c33f39;
	--red-f5: #F5222D;
	--red-bb: #bb2821;
	--red-6d: #6d0b01;
	--red-6b: #690c024d;
	--green: #3FC662;
	--green-3e: #3eb100;
	--green-21: #215d00;
	--green-2d: #2d79024d;
	--yellow: #D5B880;
	--yellow-fd : #fdc800;
  --blue: #096DD9;
	--blue-17: #177DDC;
	--blue-00: #0084ff;
	--black: #000;
	--black-17: #17181a;
	--black-15: #151617;
	--black-1f: #1f2022;
	--black-12: #121212;
  --black-26: #26272b;
	--black-2a: #2A2B2D;
	--black-2d: #2D2E30;
	--black-33: #333;
	--black-4e: #4e525a;
  --black-61: #616161;
	--black-7f: #7f7f7f;
	--black-99: #999;
}
