:root {
  --white: #FFF;
  --white-ee: #eee;
  --white-c9: #c9c9c9;
  --red: #e23321;
  --red-6d: #6d0b01;
  --red-6b: #690c024d;
  --green: #379504;
  --green-3e: #3eb100;
  --green-21: #215d00;
  --green-2d: #2d79024d;
  --yellow: #d69114;
  --blue: #0170e8;
  --black: #000;
  --black-1f: #1f1f1f;
  --black-12: #121212;
  --black-33: #333;
  --black-7f: #7f7f7f;
  --black-99: #999;
}