body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
thead,
tbody,
tr,
td,
th {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}
button,
input {
	border: none;
	box-shadow: none;
	outline: none;
	padding: 0;
	margin: 0;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	appearance: none;
}
::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background-color: transparent;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #1d5490;
}

body {
	font-family: SanFrancisco, DIN;
	font-size: 16px;
}
